<header pageTitle="Home" imageUrl="home" helpType="homepage"></header>
<div>
  <div>
    <h1>BECODE BOOKS</h1>
    <h3>LOGIN</h3>
  </div>
  <div *ngIf="!this.user; else showLoggedIn">
    <hr />
    <form
      #formData="ngForm"
      (ngSubmit)="login(formData.value)"
      class="example-form"
    >
      <div *ngIf="dataLoading">
        <h1>LOADING</h1>
      </div>
      <div *ngIf="brokenNetwork" class="label-error">
        Network Connection Error.
      </div>
      <input
        placeholder="email"
        name="email"
        #email="ngModel"
        ngModel
        required
      />
      <br />
      <h4 *ngIf="email.invalid && (email.dirty || email.touched)">
        Please enter a valid email.
      </h4>

      <input
        type="password"
        placeholder="app password"
        name="password"
        #password="ngModel"
        ngModel
        required
        minlength="5"
        maxlength="30"
      /><br />
      <button type="submit" [disabled]="!formData.valid">Log in</button>

      <span *ngIf="password.invalid && (password.dirty || password.touched)">
        <h4 *ngIf="password.errors['required']">Password is Required.</h4>
        <h4 *ngIf="password.errors['minlength']">
          Password can't be less than 5 characters.
        </h4>
        <h4 *ngIf="password.errors['maxlength']">
          Password can't be more than 30 characters.
        </h4>
      </span>
      <div *ngIf="error">
        <h4>
          Login credentials are not verified. Here is the error: {{ error }}
        </h4>
      </div>
    </form>

    <hr />
    <div>
      <button routerLink="/signup">
        <a href=""
          >No account?
          <strong>Create one with your email here</strong>
        </a>
      </button>
    </div>
  </div>
  <ng-template #showLoggedIn>
    <button
      type="button"
      routerLink="/settings"
      mat-raised-button
      color="primary"
    >
      Click here to access your Account
    </button>
    <br /><br /><br /><br />
    <button type="button" (click)="logout()" mat-raised-button color="primary">
      Logout
    </button>
  </ng-template>
</div>
