
<div >
  <div *ngIf="!this.user; else showLoggedIn">
   
    <h2>Sign in</h2>
    <form
      #formData="ngForm"
      (ngSubmit)="login(formData.value)"
      class="example-form"
    >
      <div *ngIf="dataLoading">
        <h1>LOADING</h1>
      </div>
      <div *ngIf="brokenNetwork" class="label-error">
        Network Connection Error.
      </div>
      <input nz-input
        placeholder="Becode Username"
        name="username"
        #username="ngModel"
        ngModel
        required
        minlength="5"
        maxlength="30"
      />
      <span *ngIf="username.invalid && (username.dirty || username.touched)">
        
        <h4  *ngIf="username.errors['required']">Username is required.</h4 >
        <h4  *ngIf="username.errors['minlength']">
          Username can't be less than 5 characters.
        </h4>
      </span>
      <br />

      <input nz-input
        type="password"
        placeholder="password"
        name="password"
        #password="ngModel"
        ngModel
        required
        minlength="5"
        maxlength="30"
      /><br />

      <span *ngIf="password.invalid && (password.dirty || password.touched)">
        <h4 *ngIf="password.errors['required']">Password is required.</h4>
        <h4 *ngIf="password.errors['minlength']">
          Password can't be less than 5 characters.
        </h4>
      </span>
      <div *ngIf="error">
        <h4>
          Login credentials are not verified. Here is the error: {{ error }}
        </h4>
      </div>

      <button nz-button nzType="primary" type="submit" [disabled]="!formData.valid">Log in</button>

    </form>
        
      <p>
        <a routerLink="../../auth/signup">No account?
          <strong>Create one with your email here</strong>
        </a>
      </p>
    
  </div>

  <ng-template #showLoggedIn>
    <button nz-button nzType="primary" type="button" (click)="logout()" mat-raised-button color="primary">
      Logout
    </button>
  </ng-template>

</div>
