<div class="outercontainer">
  <div *ngIf="dataLoading" class="container-data">

        <h3>{{ error }}</h3>
        <img
        src="https://media.giphy.com/media/l3nWhI38IWDofyDrW/giphy.gif"
        alt=""
      />


  </div>

  <div *ngFor="let b of book" class="container-image">
    <img src="{{ b.cover }}" alt="" />
    <div class="infos">
      <p>Title: {{ b.title }}</p>
      <p>Author: {{ b.author }}</p>
      <p>Editor: {{ b.editor }}</p>
    </div>
  </div>
  <!-- <div *ngFor="let item of book | keyvalue">
    Key: <b></b> and Value: <b>{{item.value.isbn}}</b>
</div> -->
</div>
